# Dependencies
node_modules/

# Build output
out/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/

# Misc
*.pem
thumbs.db
dist*/
build/cer.p12

.omc/
.worktrees
.claude/